<footer class="bg-gray-900 text-white pt-16 pb-8">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 mb-12">
      <div>
        <h3 class="text-xl font-bold mb-6">KVV Design</h3>
        <p class="text-gray-400">
          Профессиональный дизайн инфографики для маркетплейсов. Визуальные
          решения, которые увеличивают продажи.
        </p>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-6">Контакты</h4>
        <ul class="space-y-3">
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
              />
            </svg>
            <a
              href="tel:+79639978662"
              class="text-gray-400 hover:text-white transition"
              >+7 (963) 997-86-62</a
            >
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
              />
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
              />
            </svg>
            <span class="text-gray-400">Руза</span>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-6">Соцсети</h4>
        <div class="flex space-x-4">
          <a
            href="https://t.me/infograf_ver_nika"
            target="_blank"
            class="w-10 h-10 bg-gray-800 rounded-full flex items-center justify-center text-white transition"
          >
            <img
              src="img/icons/telegram.svg"
              alt="Telegram icon"
              loading="lazy"
            />
          </a>
          <a
            href="https://ru.pinterest.com/verbaahh/"
            target="_blank"
            class="w-10 h-10 bg-gray-800 rounded-full flex items-center justify-center text-white transition"
          >
            <img
              src="img/icons/pinterest.svg"
              alt="Pinterest icon"
              loading="lazy"
            />
          </a>
          <!-- <a href="#" class="w-10 h-10 bg-gray-800 rounded-full flex items-center justify-center text-white transition">
                            <img src="img/icons/whatsapp.svg" alt="WhatsApp icon" loading="lazy">
                        </a> -->
          <!-- <a href="#" class="w-10 h-10 bg-gray-800 rounded-full flex items-center justify-center text-white transition">
                            <img src="img/icons/behance.svg" alt="Behance icon" loading="lazy">
                        </a> -->
          <!-- <a href="#" class="w-10 h-10 bg-gray-800 rounded-full flex items-center justify-center text-white transition">
                            <img src="img/icons/instagram.svg" alt="Instagram icon" loading="lazy">
                        </a> -->
        </div>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-6">Рабочие часы</h4>
        <ul class="space-y-2 text-gray-400">
          <li class="flex justify-between">
            <span>Пн-Пт</span>
            <span>10:00 - 19:00</span>
          </li>
          <li class="flex justify-between">
            <span>Сб</span>
            <span>11:00 - 16:00</span>
          </li>
          <li class="flex justify-between">
            <span>Вс</span>
            <span>Выходной</span>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="border-t border-gray-800 pt-8 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-gray-400 mb-4 md:mb-0">
        © 2025 KVV Design. Все права защищены.
      </p>
      <div class="flex space-x-6">
        <a (click)="goPrivacy()" class="text-gray-400 hover:text-white transition cursor-pointer"
          >Политика конфиденциальности</a
        >
        <!-- <a href="#" class="text-gray-400 hover:text-white transition">Условия использования</a> -->
      </div>
    </div>
  </div>
</footer>
