<section class="py-20 bg-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Мои сертификаты</h2>
      <p class="text-gray-600 max-w-2xl mx-auto">
        Постоянно повышаю квалификацию, чтобы предлагать вам лучшие решения
      </p>
      <div class="w-20 h-1 bg-(--second-color) mx-auto mt-4"></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Сертификат 1 -->
      <div
        class="bg-gray-50 rounded-xl overflow-hidden shadow-md hover:shadow-lg transition"
      >
        <div class="h-48 flex items-center justify-center">
          <img
            class="h-full transition duration-500 hover:scale-105"
            src="certificates/certificate 1.webp"
            alt="Figma icon"
            loading="lazy"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            Дизайнер для маркетплейсов
          </h3>
          <p class="text-gray-600 mb-4">
            Контент-мейкер для маркетплейсов (ИП А.Г. Пулькин), 2025
          </p>
          <a
            href="certificates/certificate 1.png"
            target="_blank"
            class="text-(--second-color) hover:text-blue-800 flex items-center text-sm"
          >
            Посмотреть сертификат
            <svg
              class="w-4 h-4 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
              />
            </svg>
          </a>
        </div>
      </div>

      <!-- Сертификат 2 -->
      <div
        class="bg-gray-50 rounded-xl overflow-hidden shadow-md hover:shadow-lg transition"
      >
        <div class="h-48 flex items-center justify-center">
          <img
            class="h-full transition duration-500 hover:scale-105"
            src="certificates/certificate 2.webp"
            alt="Figma icon"
            loading="lazy"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            Менеджер маркетплейсов
          </h3>
          <p class="text-gray-600 mb-4">Онлайн-школа PRODUCT.EXPERT, 2024</p>
          <a
            href="certificates/certificate 2.png"
            target="_blank"
            class="text-(--second-color) hover:text-blue-800 flex items-center text-sm"
          >
            Посмотреть сертификат
            <svg
              class="w-4 h-4 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
              />
            </svg>
          </a>
        </div>
      </div>

      <!-- Сертификат 3 -->
      <div
        class="bg-gray-50 rounded-xl overflow-hidden shadow-md hover:shadow-lg transition"
      >
        <div class="h-48 flex items-center justify-center">
          <svg
            class="text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            ИТ-специалист
          </h3>
          <p class="text-gray-600 mb-4">ООО "ГикБреинс", 2023</p>
          <a
            href="#"
            target="_blank"
            class="text-(--second-color) hover:text-blue-800 flex items-center text-sm"
          >
            Посмотреть сертификат
            <svg
              class="w-4 h-4 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
