<section class="py-20 bg-gray-50">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex flex-col lg:flex-row ">
      <div class="lg:w-1/2 mb-12 lg:mb-0 lg:pr-12">
        <div class="relative">
          <img
            src="img/veronika.webp"
            alt="Фото дизайнера"
            class="w-full rounded-xl shadow-2xl max-w-md mx-auto"
            loading="lazy"
          />
          <!-- <div class="absolute -bottom-6 -right-6 bg-white p-4 rounded-xl shadow-lg">
                            <div class="text-4xl font-bold text-(--second-color)">5+</div>
                            <div class="text-gray-600">лет опыта</div>
                        </div> -->
        </div>
      </div>
      <div class="lg:w-3/4">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Подробнее обо мне</h2>
        <p class="text-gray-600 mb-4">
          Меня зовут Вероника, я являюсь сертифицированным специалистом по
          созданию инфографики для маркетплейсов.
        </p>
        <p class="text-gray-600 mb-4">
          Я создаю не просто красивые карточки товаров — я разрабатываю мощные
          инструменты продаж. Каждый элемент моих работ направлен на то, чтобы
          ваши продукты заметили, запомнили и захотели купить.
        </p>
        <p class="text-gray-600">Почему моя инфографика работает?</p>
        <ul class="text-gray-600 list-disc list-inside mb-4">
          <li>
            Четкая структура : Информация подается так, чтобы покупатели быстро
            понимали преимущества вашего товара.
          </li>
          <li>
            Акцент на важном : Я выделяю ключевые характеристики, которые влияют
            на решение о покупке.
          </li>
          <li>
            Уникальный стиль : Каждая карточка создается с учетом специфики
            продукта и бренда, делая ваш товар узнаваемым.
          </li>
        </ul>
        <p class="text-gray-600 mb-4">
          Мой подход основан на глубоком анализе ваших целей и потребностей.
          Результат — инфографика, которая не только выглядит профессионально,
          но и реально работает на ваш бизнес.
        </p>
        <p class="text-gray-600 mb-4">
          Готовы сделать ваши товары настоящими бестселлерами? Давайте создадим
          что-то особенное вместе!
        </p>

        <h3 class="text-xl font-semibold text-gray-800 mb-4">
          Инструменты, которые я использую:
        </h3>
        <div class="flex flex-wrap gap-4 mb-8">
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/figma.svg"
              alt="Figma icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">Figma</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/capcut.svg"
              alt="Capcut icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">Capcut</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/photojam.svg"
              alt="Recraft ai icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">PhotoJam AI</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/leonardo.svg"
              alt="Leonardo ai icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">Leonardo.AI</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/recraft.svg"
              alt="Recraft ai icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">Recraft AI</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/google-tables.svg"
              alt="Google tables icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">Google tables</span>
          </div>
          <div
            class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-32"
          >
            <img
              src="img/icons/openai.svg"
              alt="Chatgpt icon"
              class="h-10 mb-2"
              loading="lazy"
            />
            <span class="text-xs text-gray-600">ChatGPT</span>
          </div>

          <!-- <div class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-24">
                            <img src="img/icons/photoshop.svg" alt="Adobe Photoshop icon" class="h-10 mb-2" loading="lazy">
                            <span class="text-xs text-gray-600">Photoshop</span>
                        </div>
                        <div class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-24">
                            <img src="img/icons/illustrator.svg" alt="Adobe Illustrator icon" class="h-10 mb-2" loading="lazy">
                            <span class="text-xs text-gray-600">Illustrator</span>
                        </div> -->
          <!-- <div class="tool-icon bg-white p-4 rounded-lg shadow-md flex flex-col items-center w-24">
                            <img src="img/icons/canva.svg" alt="Canva icon" class="h-10 mb-2" loading="lazy">
                            <span class="text-xs text-gray-600">Canva</span>
                        </div> -->
        </div>

        <div class="flex gap-4">
          <a
            href="img/Резюме.jpg"
            target="_blank"
            class="px-6 py-3 bg-(--second-color) text-white font-medium rounded-lg hover:bg-(--first-color) transition inline-flex items-center gap-3"
          >
            <span>Моё резюме</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <a
            href="#contact"
            class="px-6 py-3 bg-(--second-color) text-white font-medium rounded-lg hover:bg-(--first-color) transition inline-flex items-center gap-3"
          >
            <span>Начать проект</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 12H5m14 0-4 4m4-4-4-4"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
