<div>
  <p-panelmenu [model]="items"></p-panelmenu>
</div>

@if (displayBasic) {
<p-galleria
  [value]="images"
  [(visible)]="displayBasic"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '50%' }"
  [numVisible]="9"
  [fullScreen]="true"
  [showIndicators]="false"
  [showThumbnails]="true"
  [showIndicatorsOnItem]="true"
>
  <ng-template #item let-item>
    <img
      [src]="item.img"
      style="max-width: 70%; display: block"
      alt="item.alt"
    />
  </ng-template>
  <ng-template #thumbnail let-item>
    <img [src]="item.img" style="width: 100%; height: 100%; display: block" alt="item.alt" />
  </ng-template>
</p-galleria>
}
