<div>
  <p-panelmenu [model]="items"></p-panelmenu>
</div>

<p-dialog [header]="titleDialog" [(visible)]="displayDialog">
  <p-galleria
    *ngIf="displayDialog"
    class="text-black"
    [value]="images"
    [numVisible]="2"
    [showIndicators]="true"
    [showThumbnails]="false"
    [showIndicatorsOnItem]="true"
    [showItemNavigators]="true"
    [containerStyle]="{ 'max-width': '640px' }"
  >
    <ng-template #item let-item>
      <img
        [src]="item"
        style="max-width: 70%; display: block"
      />
    </ng-template>
    <!-- <ng-template #thumbnail let-item>
      <img [src]="item.img" style="width: 30%; height: 100%; display: block" alt="item.alt" />
    </ng-template> -->
  </p-galleria>
</p-dialog>
