<section id="process" class="py-20 bg-gray-50">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Как я работаю</h2>
      <p class="text-gray-600 max-w-2xl mx-auto">
        Четкий процесс, который гарантирует результат и экономит ваше время
      </p>
      <div class="w-20 h-1 bg-(--second-color) mx-auto mt-4"></div>
    </div>

    <div class="w-3/4 m-auto">
      <ol class="relative border-s border-gray-200">
        <li class="mb-2 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            1
          </span>
          <h3
            class="flex items-center mb-1 text-lg font-semibold text-gray-900"
          >
            Обсуждение проекта
          </h3>
          <p class="mb-4 text-base font-normal text-gray-500">
            Анализируем ваш товар, целевую аудиторию, конкурентов, техническое
            задание. Отправляете исходные фотографии товара в хорошем качестве и
            ваши пожелания по дизайну.
          </p>
        </li>
        <li class="mb-2 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            2
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900">
            Стоимость услуг
          </h3>
          <p class="text-base font-normal text-gray-500">
            Обсуждаем стоимость всего заказа, сроки и оплачиваете 50% предоплаты
            (в зависимости от объёма заказа). 100% оплата - при заказе только 1
            слайда. Бронирую даты и приступаю к работе в оговоренные сроки.
          </p>
        </li>
        <li class="mb-2 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            3
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900">
            Разработка концепции
          </h3>
          <p class="text-base font-normal text-gray-500">
            Анализирую ваших конкурентов на маркетплейсе, выявляю проблемы
            целевой аудитории, формулирую преимущества товара на основе
            выявленных проблем. Подбираю референсы для дизайна, выбираем
            оптимальный вариант визуализации данных и стиль оформления.
            Отправляю файл Google-таблицы вам на согласование, после внесения
            соответствующих, корректировок утверждаем техническое задание.
            Приступаю к дизайну. Последующие изменения в техническое задание
            после его утверждения вносятся за дополнительную плату.
          </p>
        </li>
        <li class="mb-2 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            4
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900">
            Создание дизайна (обложка)
          </h3>
          <p class="text-base font-normal text-gray-500">
            Разрабатываю дизайн обложки товара на основе технического задания и
            оговоренных пожеланий. Отправляю файл вам в формате PHG, JPEG для
            внесения правок и утверждения.
          </p>
        </li>
        <li class="mb-2 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            5
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900">
            Создание дизайна (внутренние слайды)
          </h3>
          <p class="text-base font-normal text-gray-500">
            Разрабатываю дизайн внутренних слайдов на основе технического
            задания и оговоренных пожеланий. Отправляю файлы вам в формате PHG,
            JPEG для правок и утверждения.
          </p>
        </li>
        <li class="ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-(--second-color) rounded-full -start-3 ring-8 ring-white text-white"
          >
            6
          </span>
          <h3 class="mb-1 text-lg font-semibold text-gray-900">Оплата</h3>
          <p class="text-base font-normal text-gray-500">
            Оплачиваете оставшуюся часть работы.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
