<section id="services" class="py-20 bg-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Мои услуги</h2>
      <p class="text-gray-600 max-w-2xl mx-auto">
        Комплексные решения для эффективного представления товаров на
        маркетплейсах
      </p>
      <div class="w-20 h-1 bg-(--second-color) mx-auto mt-4"></div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Услуга 1 -->
      <div
        class="bg-gray-50 rounded-xl p-8 transition-all shadow-md hover:shadow-lg hover:-translate-y-2"
      >
        <div
          class="w-16 h-16 bg-(--second-color) text-white rounded-full flex items-center justify-center mb-6"
        >
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">
          Оформление карточек товаров
        </h3>
        <ul class="space-y-3 text-gray-600 mb-6">
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>

            <span>Главное изображение товара</span>
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Внутренние слайды</span>
          </li>
        </ul>
        <div class="text-(--second-color) font-semibold">От 500 ₽</div>
      </div>

      <!-- Услуга 2 -->
      <div
        class="bg-gray-50 rounded-xl p-8 transition-all shadow-md hover:shadow-lg hover:-translate-y-2"
      >
        <div
          class="w-16 h-16 bg-(--second-color) text-white rounded-full flex items-center justify-center mb-6"
        >
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 3v4a1 1 0 0 1-1 1H5m4 10v-2m3 2v-6m3 6v-3m4-11v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">RICH-контент</h3>
        <ul class="space-y-3 text-gray-600 mb-6">
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Для ozon</span>
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Для wildberries</span>
          </li>
        </ul>
        <div class="text-(--second-color) font-semibold">От 500 ₽</div>
      </div>

      <!-- Услуга 3 -->
      <div
        class="bg-gray-50 rounded-xl p-8 transition-all shadow-md hover:shadow-lg hover:-translate-y-2"
      >
        <div
          class="w-16 h-16 bg-(--second-color) text-white rounded-full flex items-center justify-center mb-6"
        >
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Создание концепции карточек товаров</h3>
        <ul class="space-y-3 text-gray-600 mb-6">
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Анализ конкурентов</span>
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Подбор референсов для каждого слайда</span>
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Выявление проблем целевой аудитории</span>
          </li>
          <li class="flex items-start">
            <svg
              class="min-w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span
              >Формулировка преимуществ товара на основе выявленных
              проблем</span
            >
          </li>
        </ul>
        <div class="text-(--second-color) font-semibold">От 450 ₽</div>
      </div>
      <!-- Услуга 4 -->
      <div
        class="bg-gray-50 rounded-xl p-8 transition-all shadow-md hover:shadow-lg hover:-translate-y-2"
      >
        <div
          class="w-16 h-16 bg-(--second-color) text-white rounded-full flex items-center justify-center mb-6"
        >
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M14 7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7Zm2 9.387 4.684 1.562A1 1 0 0 0 22 17V7a1 1 0 0 0-1.316-.949L16 7.613v8.774Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Видео</h3>
        <ul class="space-y-3 text-gray-600 mb-6">
          <li class="flex items-start">
            <svg
              class="min-w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Монтаж видео</span>
          </li>
          <li class="flex items-start">
            <svg
              class="w-6 h-6 text-(--second-color)"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
            <span>Создание видеообложки</span>
          </li>
        </ul>
        <div class="text-(--second-color) font-semibold">От 1000 ₽</div>
      </div>
    </div>
  </div>
</section>
