<section id="contact" class="py-20 bg-white">
  <div class="max-w-4xl mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        Готовы обсудить проект?
      </h2>
      <p class="text-gray-600 max-w-2xl mx-auto">
        Заполните форму ниже, и я свяжусь с вами в ближайшее время для
        обсуждения деталей
      </p>
      <div class="w-20 h-1 bg-(--second-color) mx-auto mt-4"></div>
    </div>

    <div data-formid="form_Hezjn3Qv8tsJGQsPdZ38sOvXWa4e0HSl"></div>
  </div>
</section>
